@font-face {
  font-family: akaya;
  src: url(./font/AkayaKanadaka-Regular.ttf);
}

:root {
  --first-color: #260401;
  --second-color: #a64b29;
  --third-color: #bf6e3f;
  --fourt-color: #8bb4d9;
  --fifth-color: #89abd9;
  --first-font: akaya;
}

* {
  font-family: var(--first-font);
}

/* -- navbar -- */

.navbar {
  background-color: transparent !important;
  position: fixed;
  z-index: 4;
  width: 100%;
}

.navbar-nav {
  font-size: 1.3rem;
}

.navbar .container {
  background-color: rgba(0, 0, 0, 0.48) !important;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--third-color) !important;
}

/* -- carousel -- */

.carousel-caption {
  bottom: 40%;
  color: white;
  font-size: 1.3rem;
}

.carousel-caption .btn {
  background-color: var(--third-color);
  color: white;
  border: none;
  font-size: 1.3rem;
  /* margin: 0.5rem; */
  white-space: nowrap;
  padding: .2rem 1rem;
}

.black {
  width: 320px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.469);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(50deg);
}

.hero {
  position: relative;
  z-index: 2;
}

.carousel-indicators {
}

.carousel-indicators button {
  background-color: var(--second-color) !important;
  padding: 0.1rem !important;
  width: 2rem !important;
  margin: 0.5rem !important;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* -- about -- */

section#about {
  background-color: var(--first-color);
}

.imgContainer {
  position: relative;
  
}

.imgContainer img {
  width: 100%;
}

.about-img-info {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.429),
    rgba(206, 100, 14, 0.654)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-btn {
  background-color: var(--second-color);
  color: white;
  border: none;
  font-size: 1.3rem;
  white-space: nowrap;
  padding: 1rem 1rem;
  border: none;
}

.about-btn:hover {
  background-color: var(--third-color);
  border: none;
}

/* -- meet people -- */

section#people {
  background-color: var(--third-color);
  color: black;
}

section#people .container {
  background-color: var(--second-color);
}

section#people .card {
  background-color: var(--third-color);
  transition: all 0.5s;
  overflow: hidden;
  color: black;
}

section#people .card:hover {
  transform: scale(1.05);
}

section#people .card img {
  transition: all 0.5s;
}

section#people .card img:hover {
  transform: scale(1.1);
}

section#people i {
  transition: all 0.5s;
  cursor: pointer;
}

section#people i:hover {
  opacity: 0.5;
}

/* -- our menu -- */

section#menu {
  background-color: var(--first-color);
  color: white;
}

section#menu button {
  background-color: var(--second-color);
  color: white;
  margin-right: 1rem;
}

section#menu button:hover {
  background-color: #bf6e3f;
}

section#menu .container {
  background-color: var(--third-color) !important;
}

/* -- contact -- */

section#contact {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.429),
    #bf6e3f
  ), url(./images/slider2.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

section#contact input, section#contact textarea {
  background-color: rgba(245, 245, 245, 0.68);
}
section#contact input:focus, section#contact textarea:focus {
  /* background-color: inherit; */
}

/* -- footer -- */

footer {
  background-color:  var(--third-color);
}